@model Skelbimu_sistema.Models.Product

@{
    ViewData["Title"] = "Skelbimo redagavimas";
}

<h2>Skelbimo redagavimas</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Name" class="control-label">Pavadinimas</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="control-label">Aprašymas</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price" class="control-label">Kaina</label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ImageUrl" class="control-label">Nuotraukos URL</label>
        <input asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="State" class="control-label">Skelbimo būsena</label>
        <select asp-for="State" class="form-control">
            <option value="">Pasirinkite skelbimo būseną</option>
            @foreach (var product in Enum.GetValues(typeof(Skelbimu_sistema.Models.ProductState)))
            {
                // Skip the "Suspended" option
                if (product.ToString() != "Suspended")
                {
                    <option value="@product">@product</option>
                }
            }
        </select>
        <span asp-validation-for="State" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Category" class="control-label">Kategorija</label>
        <select asp-for="Category" class="form-control">
            <option value="">Pasirinkite kategorija</option>
            @foreach (var category in Enum.GetValues(typeof(Skelbimu_sistema.Models.Category)))
            {
                <option value="@category">@category</option>
            }
        </select>
        <span asp-validation-for="Category" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Saugoti</button>
    <a asp-controller="Product" asp-action="ViewInventory" class="btn btn-secondary">Grįžti atgal</a>
</form>

