@{
	ViewData["Title"] = "Naudotojo paskyra";
}

@model Skelbimu_sistema.Models.User

<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-lg-8 col-md-10">
			<div class="card">
				<div class="card-body">
					<h1 class="text-center">@(Model.FirstName + " " + Model.LastName)</h1>
					<p class="text-center">Naudotojo paskyra</p>
					<div class="form-group mb-3">
						<label for="email">Elektroninis paštas:</label>
						<input type="email" class="form-control" id="email" name="email" value=@Model.Email required disabled />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


