@{
	ViewData["Title"] = "Prieiga uždrausta";
}

<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-lg-8 col-md-10">
			<div class="card">
				<div class="card-body">
					<h1 class="text-center">Prieiga uždrausta</h1>
					<p class="text-center">Jūs neturite teisės atlikti šiam veiksmui.</p>
					<div class="row mt-2 px-4">
						<a class="btn btn-primary" asp-controller="Home" asp-action="Index">Grįžti į pagrindinį puslapį</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>