@using Skelbimu_sistema.ViewModels
@{
	ViewData["Title"] = "Slaptažodžio keitimas";
}

@model ForgotPasswordRequest

<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-lg-8 col-md-10">
			<div class="card">
				<div class="card-body">
					<h1 class="text-center">Slaptažodžio priminimas</h1>
					<p class="text-center">Įveskite savo paskyros elektroninį paštą</p>
					<form method="post" asp-action="SubmitForgotPassword">
						<div class="form-group mb-3">
							<label asp-for="Email">Elektroninis paštas:<span class="text-danger"> *</span></label>
							<input asp-for="Email" type="email" class="form-control" required />
							<span asp-validation-for="Email" class="text-danger"></span>
						</div>

						<button type="submit" class="btn btn-primary">Patvirtinti</button>
					</form>
					<div class="row mt-2">
						<a asp-area="" asp-controller="User" asp-action="Login">Grįžti</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


