@{
	ViewData["Title"] = "Prisijungimas";
}

@model Skelbimu_sistema.ViewModels.UserLoginRequest

<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-lg-8 col-md-10">
			<div class="card">
				<div class="card-body">
					<h1 class="text-center">Prisijungimas</h1>
					<p class="text-center">Įveskite savo prisijungimo duomenis</p>
					<form method="post" asp-action="SubmitLogin">
						<div class="form-group mb-3">
							<label asp-for="Email">Elektroninis paštas:</label>
							<input asp-for="Email" type="email" class="form-control" required />
							<span asp-validation-for="Email" class="text-danger"></span>
						</div>
						<div class="form-group mb-3">
							<label asp-for="Password">Slaptažodis:</label>
							<input asp-for="Password" type="password" class="form-control" required />
							<span asp-validation-for="Password" class="text-danger"></span>
						</div>
						<input type="hidden" asp-for="ReturnUrl" value="@Model.ReturnUrl" />
						<button type="submit" class="btn btn-primary">Prisijungti</button>
					</form>
					<div class="row mt-2">
						<p>Dar neturite paskyros? <a asp-controller="User" asp-action="Registration">Užsiregistruokite</a></p>
					</div>
					<div class="row mt-2">
						<p>Pamiršote slaptažodį? <a asp-controller="User" asp-action="ForgotPassword">Pakeisti slaptažodį</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


