<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Elektroninė skelbimų sistema</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
</head>

<body>
    @{
        var userCookie = Context.Request.Cookies["User"];
    }
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Elektroninė skelbimų sistema</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        
                        <li class="nav-item">
                            @* <a class="nav-link" asp-area="" asp-controller="Products" asp-action="List"> *@
                                @*Laikina nuoroda i main ekrana*@
                            <a class="nav-link" asp-controller="Home" asp-action="Index"> 
                                <i class="bi bi-film"></i> Skelbimai
                            </a>
                        </li>

                        @* <form id="searchForm" class="form-inline my-2 my-lg-0" asp-controller="Search" asp-action="Index" method="get"> *@
                        <form id="searchForm" class="form-inline my-2 my-lg-0" asp-controller="Product" asp-action="Filter" method="get">
                            <div class="input-group">
                                <input id="searchInput" name="searchString" type="text" class="form-control" placeholder="Ieškoti prekės..."
                                       aria-label="Search" aria-describedby="searchButton">
                                <div class="input-group-append">
                                    <button id="submitSearch" class="btn btn-outline-success" type="submit">
                                        <i class="bi bi-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>                    

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Index">
                                <i class="bi bi-wrench"></i> Administracija
                            </a>
                        </li>

                        @if (string.IsNullOrEmpty(userCookie))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="User" asp-action="Login">
                                    <i class="bi bi-person-check"></i> Prisijungti
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="User" asp-action="Registration">
                                    <i class="bi bi-person-plus"></i> Registruotis
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                    <form method="post" asp-controller="User" asp-action="SubmitLogout">
                                    <button type="submit" class="nav-link" style="border: none; background-color: transparent;">
                                        <i class="bi bi-person-x"></i> Atsijungti
                                    </button>
                                </form>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Product" asp-action="Create">
                                    <i class></i>&#128228; Sukurti skelbimą
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Product" asp-action="ViewInventory">
                                    <i class></i>&#128221; Inventorius
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Wish" asp-action="OpenSuggestedProductsPage">
                                <i class="bi bi-film"></i> Siūlomi skelbimai
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        @{
            Dictionary<Category, string> categoryTranslations = new Dictionary<Category, string>
        {
        { Category.Motherboard, "Pagrindinė plokštė" },
        { Category.CPU, "Procesorius" },
        { Category.GPU, "Vaizdo plokštė" },
        { Category.RAM, "Darbinė atmintis" },
        { Category.Storage, "Kietieji diskai" },
        { Category.PSU, "Maitinimo blokas" },
        { Category.Case, "Korpusas" },
        { Category.Cooling, "Vėsinimas" },
        { Category.Peripherals, "Išoriniai įrenginiai" },
        { Category.Other, "Kiti" }
        };
        }

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="form-inline">
                <div class="btn-group mr-2" role="group" aria-label="Kategorijos">
                    @foreach (var category in Enum.GetValues(typeof(Category)))
                    {
                        <form asp-controller="Product" asp-action="CategorySearch" method="get" class="mr-2">
                            <input type="hidden" name="selectedCategory" value="@category" />
                            <button type="submit" class="btn btn-primary btn-lg">@categoryTranslations[(Category)category]</button>
                        </form>
                    }
                </div>
            </div>
        </nav>


    </header>

    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted mt-5">
        <div class="container text-center">
            &copy; 2024- Elektroninė skelbimų sistema
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
