@{
	ViewData["Title"] = "Administracijos puslapis";
}

<div class="container mt-5">
	<div class="row">
		<div class="col-4">
			<a href="/admin/users" class="btn btn-primary btn-block d-flex w-100 h-100 align-items-center justify-content-center">
				<i class="bi bi-people-fill mx-2"></i>
				<strong>Peržiūrėti naudotojus</strong>
				
			</a>
		</div>
		<div class="col-8">
			<div class="row mb-2">
				<a href="/administracija/naudotojai" class="btn btn-primary btn-block d-flex w-100 align-items-center justify-content-center p-2">Užblokuotų naudotojų: 3</a>
			</div>
			<div class="row mb-2">
				<p class="w-100 h-100 text-center bg-light mb-0 p-2 rounded">Iš viso nudotojų: 5</p>
			</div>
			<div class="row">
				<p class="w-100 h-100 text-center bg-light mb-0 p-2 rounded">Administratorių: 1</p>
			</div>
		</div>
	</div>
	<div class="row mt-4">
		<div class="col-4">
			<a href="/administracija/skelbimai" class="btn btn-primary btn-block d-flex w-100 h-100 align-items-center justify-content-center">
				<i class="bi bi-file-post-fill mx-2"></i>
				<strong>Peržiūrėti skelbimus</strong>

			</a>
		</div>
		<div class="col-8">
			<div class="row mb-2">
				<a href="/administracija/skelbimai" class="btn btn-primary btn-block">Suspenduotų skelbimų: 2</a>
			</div>
			<div class="row mb-2">
				<a href="/administracija/skelbimai" class="btn btn-primary btn-block">Pataisytų skelbimų: 1</a>
			</div>
			<div class="row">
				<a href="/administracija/skelbimai" class="btn btn-primary btn-block">Skelbimų su perspėjimais: 4</a>
			</div>
		</div>
	</div>
</div>