@{
	ViewData["Title"] = "Perspėjimo kūrimas";
}

@model Report

<h2>Perspėkite apie netinkamą skelbimą</h2>
<h3>Skelbimas: @Model.Product.Name</h3>
<p>Pardavėjas: @Model.Product.User.Email</p>

<form method="post" asp-action="SubmitReport" asp-controller="Admin">
    <input type="hidden" asp-for="ProductId" />
    
    <div class="form-group mb-4">
        <label asp-for="Reason">Perspėjimo priežąstis</label>
        <textarea asp-for="Reason" class="form-control"></textarea>
        <span asp-validation-for="Reason" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Pateikti perspėjimą</button>
</form>

